<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952371195891-e34usadahef84657j6kkm7j4s071i9hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952371195891-e34usadahef84657j6kkm7j4s071i9hg</string>
	<key>API_KEY</key>
	<string>AIzaSyBi25ME6gU39k4VHVBX3cBWZQ65X7APHb8</string>
	<key>GCM_SENDER_ID</key>
	<string>952371195891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brychczynski.SwiftfulFirebaseBootcamp</string>
	<key>PROJECT_ID</key>
	<string>swiftfulfirebasebootcamp-4626c</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftfulfirebasebootcamp-4626c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952371195891:ios:d96c7782915f1a64e8ec86</string>
</dict>
</plist>